/* MOBILE RESPONSIVENESS */
@media screen and (min-width: 280px) and (max-width: 415px) {
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: white;
  }

  body {
    background-color: #000000;
    background-image: url("background.png");
    background-attachment: fixed;
    background-size: cover;
  }

  header {
    padding: 25px;
    margin-top: 15%;
    border: 1px solid rgb(0, 0, 0);
  }

  nav {
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
  }

  .menu {
    display: flex;
    position: relative;
    border: 1px solid rgb(0, 0, 0);
    flex: 6;
    justify-content: center;
    padding-left: 5%;
    padding-right: 5%;
    margin-left: 3%;
    margin-right: 3%;
    gap: 10%;
  }

  .about-menu,
  .skills-nav,
  .projects-nav,
  .contacts-nav {
    text-decoration: none;
  }

  .about-menu:hover,
  .skills-nav:hover,
  .projects-nav:hover,
  .contacts-nav:hover {
    color: greenyellow;
  }

  .about-menu:visited,
  .skills-nav:visited,
  .projects-nav:visited,
  .contacts-nav:visited {
    color: white;
  }

  .resume {
    flex: 2;
    display: flex;
    top: 15px;
    justify-content: flex-end;
    right: 30px;
    position: absolute;
    position: fixed;
    font-size: 16px;
    z-index: 1;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 10px;
    background-color: green;
    border: 2px solid black;
  }

  .resume:hover {
    cursor: pointer;
    color: green;
    background-color: black;
    border: 2px solid rgb(255, 255, 255);
  }

  .download {
    text-decoration-line: none;
  }

  .logo {
    flex: 1;
    display: flex;
    top: 5px;
    justify-content: center;
    position: absolute;
    font-size: 35px;
    z-index: 1;
    font-family: "Exo 2", sans-serif;
  }

  section {
    display: grid;
    justify-content: flex-start;
    margin-top: -50%;
    margin-right: 10%;
    padding-left: 10%;
    height: 100vh;
    width: auto;
    gap: 30px;
    align-items: center;
  }

  .titles {
    font-size: 26px;
    padding-top: 25%;
  }

  .name {
    color: rgb(15, 212, 15);
  }

  .welcome {
    margin-right: -5%;
    width: auto;
    min-height: 100vh;
    font-size: 35px;
    margin-top: 80%;
  }

  .about-title,
  .skills-title,
  .projects-title {
    border: 5px solid rgba(52, 50, 50, 0.907);
    display: flex;
    justify-content: center;
    padding: 8px;
    margin-left: 20px;
    margin-right: 20px;
    font-weight: bold;
  }

  .about {
    background-color: rgba(37, 36, 36, 0.907);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    height: 650px;
    align-items: center;
    margin: 20px;
    padding: 5%;
    line-height: 20px;
  }

  .about-message {
    text-align: center;
    font-size: 15px;
  }

  .about-education {
    font-weight: bold;
    color: rgb(15, 212, 15);
  }

  .educational-attainment {
    font-size: 15px;
  }

  .formal-image {
    border-radius: 20px;
    width: 54%;
    height: auto;
  }

  .form {
    padding: 5% 5% 5% 5%;
    margin: 20px;
    background-color: rgba(37, 36, 36, 0.907);
    justify-content: center;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    line-height: 40px;
  }

  .form h2 {
    margin-bottom: 10px;
    line-height: 30px;
  }

  .skills {
    background-color: rgba(37, 36, 36, 0.907);
    padding: 6% 20% 5% 20%;
    display: grid;
    flex-direction: column;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 60px;
    text-align: center;
    min-height: 350px;
    align-items: center;
    margin: 20px;
    justify-content: center;
  }

  .skills > div {
    display: flex;
    flex-direction: column;
  }

  .img-logo {
    width: 80px;
    height: auto;
  }

  .projects {
    margin: 20px;
    padding: 40px 0 0 0;
    background-color: rgba(37, 36, 36, 0.907);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
  }

  .projects > div {
    min-height: 500px;
    width: 80%;
    align-items: center;
    background-color: rgba(101, 101, 101, 0.822);
    padding: 20px;
    margin-bottom: 40px;
    border-radius: 10px;
  }

  .projects-img {
    width: 10px;
    height: auto;
  }

  .project-screenshot {
    width: 80%;
    margin: 10px 0px 10px 0px;
    border-radius: 20px;
  }

  .html-tag {
    color: rgb(0, 0, 0);
    background-color: rgb(243, 170, 15);
    font-weight: bold;
    border: 1px solid white;
    margin-right: 5px;
    border-radius: 5px;
    font-size: 13px;
  }

  .css-tag {
    color: rgb(0, 0, 0);
    background-color: aqua;
    font-weight: bold;
    border: 1px solid white;
    margin-right: 5px;
    margin-left: 5px;
    border-radius: 5px;
    font-size: 13px;
  }

  .javascript-tag {
    color: rgb(0, 0, 0);
    background-color: rgb(220, 241, 65);
    font-weight: bold;
    border: 1px solid white;
    margin-left: 5px;
    border-radius: 5px;
    font-size: 13px;
  }

  .go-back-to-nav-skills {
    direction: flex;
    position: relative;
    bottom: 0;
  }

  .go-back-to-nav-project {
    margin-top: 20px;
    font-size: 13px;
  }

  .project-description {
    margin-top: 10%;
    margin-bottom: 10%;
    font-size: 18px;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .link-logos {
    margin-bottom: 10px;
  }

  .link-logo,
  .github-link-logo {
    width: 40px;
    height: auto;
    margin-left: 20px;
    margin-right: 20px;
    cursor: pointer;
  }

  .abstract,
  .email,
  .full-name {
    width: 200px;
    color: black;
    font-size: 15px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    margin: 0 auto;
  }

  .abstract {
    height: 100px;
  }

  .send-button {
    color: black;
    height: 35px;
    width: auto;
    border-radius: 8px;
    padding: 3px;
    font-size: 20px;
    background-color: rgb(194, 210, 194);
  }

  .send-button:hover {
    color: rgb(255, 255, 255);
    height: 36px;
    width: auto;
    border-radius: 8px;
    padding: 3px;
    font-size: 24px;
    background-color: rgb(0, 247, 0);
  }

  .menu:hover {
    color: greenyellow;
  }

  .contacts-list {
    margin-top: 30px;
    margin-bottom: 40px;
  }

  .other-contact-logos {
    margin-top: 20px;
  }

  .other-contact-link-logo {
    width: 33px;
    margin: 10px;
  }
  .other-contact-link-logo:hover {
    width: 40px;
    margin: 10px;
  }
}
